<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611997606478-fqhv7qr3hs4e7jkm48iqq7ag58rgv8pf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611997606478-fqhv7qr3hs4e7jkm48iqq7ag58rgv8pf</string>
	<key>API_KEY</key>
	<string>AIzaSyDCaLbrYnFHHe3X1bVOZHzavBt4C2pKLp8</string>
	<key>GCM_SENDER_ID</key>
	<string>611997606478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letMeCheck</string>
	<key>PROJECT_ID</key>
	<string>let-me-check-42d8a</string>
	<key>STORAGE_BUCKET</key>
	<string>let-me-check-42d8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611997606478:ios:ed726e08cc7e25cf98991f</string>
</dict>
</plist>